set completion-ignore-case on
set colored-completion-prefix on
# set show-mode-in-prompt on


# \e is escape
# \C- is control
# \M- is meta
# \b is backspace
# for meta backspace, use \M-\b
# for alt backspace, use \C-\b


"\eh": " --help"
"\ec": builtin command ls
"\e4": '${}'
"\e9": '$()'
"\e\e": redraw-current-line

# Ctrl-Backspace
"\C-H": shell-backward-kill-word


"\e[Z": menu-complete
"\e[A":history-search-backward
"\e[B":history-search-forward



"\e-\b": kill-whole-line
